<h1>post now</h1>

{% if useraccount %}

<form action="/item/" method="POST">

{% include "../elements/locationdropdown.html" %}

<div class="form_row">
	<div class="form_label">What format is it?</div>	
	<div class="form_field"><select name="media_type" id="id_media_type">
		{% for media_type in media_types %}
		<option value="{{media_type}}">{{media_type}}</option>
		{% endfor %}
	</select></div>
</div>

<div class="form_row">
	<div class="form_label">What type of thing is it?</div>	
	<div class="form_field"><select name="tag" id="id_tag">
		{% for form_tag in form_tags %}
		<option value="{{form_tag}}">{{form_tag}}</option>
		{% endfor %}
	</select></div>
</div>

{% for field in itemform %}
<div class="form_row">
	<div class="form_label">{{ field.label_tag }}<span id="{{field.name}}_errors">{{ field.errors }}</span></div>
	<div class="form_field">{{ field }}</div>
</div>
{% endfor %}
<input type="submit" name="submit" value="add information" />
</form>

{% else %}
<div>
You need to be logged in to post to <strong>accesscity</strong>
</div>
<div>
	{% include "../elements/logincontrol.html" %}
</div>
{% endif %}