{% extends "../ui/base.html" %}

{% block title %} : about {% endblock %}

{% block mainpanel %}

        <!-- Content -->
    	<div class="content">

            <h1>about</h1>

<P>This site was created during the sicamp.org weekend by:<br/>
	<ul>
		<li><a href="http://www.twitter.com/DominicCampbell" target="_blank">Dominic Campbell</a> - man with the idea</li>
		<li><a href="http://www.twitter.com/jaggeree" target="_blank">Chris Thorpe</a> - developer</li>
		<li><a href="http://www.twitter.com/kalv" target="_blank">Kalv Sandhu</a> - developer</li>
		<li><a href="http://www.twitter.com/jennilloyd" target="_blank">Jenni Lloyd</a> - designer</li>
		<li><a href="http://www.twitter.com/Laura_N" target="_blank">Laura North</a> - product development </li>
	</ul>
	Also some fly in help from:
	<ul>
		<li><a href="http://www.twitter.com/coupde" target="_blank">James Darling</a></li>
		<li><a href="http://" target="_blank">Richard Pope</a></li>
	</ul>
</P>
	
    	</div>
	
{% endblock %}