<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>AccessCity :: trouble free travel {% block title %}{% endblock %}</title>
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
	<link href="/styles/style.css" media="screen" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript">
    	function init()	{
			FB.init("2be4a21659bf9ca4aac0c03423711af3", "/xd_receiver.htm", {"reloadIfSessionStateChanged":true});
			FB.XFBML.Host.parseDomTree();
		}
	</script>
	
</head>

<body onload="init()">

{% include "../ui/header.html" %}

{% block mainpanel %}{% endblock %}

{% include "../ui/footer.html" %}
