	<div class="user_bar">
		<div id="user-bar-action">
		{% if useraccount %}
			{% if useraccount.user %}
				Welcome {{useraccount.name}} | <a href="/profile/{{useraccount.profileid}}">My Profile</a> | <a href="{{user_action_url}}">Log out</a>
			{% else %}
				<fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true" height="24" width="24"></fb:profile-pic> Welcome <fb:name uid="{{useraccount.fbid}}" useyou="false"></fb:name> | <a href="/profile/{{useraccount.profileid}}">My Profile</a> | <a href="#" onclick='FB.Connect.logoutAndRedirect("/")'>Logout</a>
			{% endif %}
		{% else %}
			<a href="{{user_action_url}}">Sign in using your GMail account</a> / 
				<fb:login-button size="medium" background="light" length="long">
		{% endif %}
		</div>
	</div>
	
	<!-- Header -->
	<div class="header">
		<!-- Logo -->
	    <a href="/"><img alt="Accesscity_logo" src="/images/accesscity_logo.gif" /></a>
				
			<!-- User menu -->
			<div class="search_box">
		    <form action="/locations/index" method="post">
			
					<input id="search_text" name="search_text" size="30" type="text" value="" />
					<input name="commit" type="submit" value="Find" />
		    	<br/>
					<small>e.g.<a href="/location/bethnalgreentubestation">Bethnal Green</a></a> or <a href="/location/brixtontubestation">Brixton</a></small>
		    </form>
			</div>
	</div>