{% if not created %}
	{% include "../elements/itemform.html" %}
{% else %}
	<h1>thank you</h1>
		<p>Thank you, your item has been posted.</p>
	{% if not ajax_item %}
		Go to <a href="/location/{{location.indexname}}">{{location.name}}</a> page.
	{% else %}
		<p id="id_post_another">Post another</p>
		{% ifequal item.media_type "Text"%}
		<script type="text/javascript">
			$(document).ready(function() { 
				$("#id_latest_item_title").html("{{item.title}}");
				$("#id_latest_item_text").html("{{item.text}}");
				$("#id_latest_item_date").html("posted about a second ago");
				$("#id_recent_posts").load("/items/location/{{location.indexname}}");
			});
		</script>
		{% endifequal %}
	{% endif %}
{% endif %}
