{% extends "../ui/base.html" %}

{% block title %}
	:: {{location.name}}
{% endblock %}

{% block mainpanel %}
	
	{% if location %}
	<!-- Place header -->
	<table class="location">

		<tr>
			<td class="first">
			<style>
				div.location_background {
					background-image: url("http://farm1.static.flickr.com/26/61609783_6cf2a53560_o.jpg");
					width:640px;
					height:400px;
					background-color: #999;
					margin-bottom: 10px;
				}
			</style>
			
			<div class="location_background">
				<div class="location">
	    			<h1>{{location.name	}}</h1>
					<h2>Do you use this station? Tell it like it is...</h2>

					<div class="border-top">
						<h4>people who've helped describe this station</h4>
					</div>
					<table><tr>
						{% for userlocation in userlocations %}
							{% ifequal userlocation.useraccount.network "facebook" %}
								<td><fb:profile-pic uid="{{userlocation.useraccount.fbid}}" size="square" facebook-logo="true" height="24" width="24"></fb:profile-pic><br /><a href="/profile/{{userlocation.useraccount.profileid}}">{{userlocation.useraccount.name}}</a></td>
							{% else %}
								<td><a href="/profile/{{userlocation.useraccount.profileid}}"><img src="/images/user.png"></a><br /><a href="/profile/{{userlocation.useraccount.profileid}}">{{userlocation.useraccount.name}}</a></td>
							{% endifequal %}
						{% endfor%}
					</tr></table>
					<div class="latest_item_panel">
						{% for item in items %}
							{% if forloop.first %}
								<div class="latest_item" id="id_latest_item">
									<div class="latest_item_trail">Latest {{item.tag}}</div>
									<h1 id="id_latest_item_title">{{item.title}}</h1>
									<div id="id_latest_item_text">{{item.text}}</div>
									<div id="id_latest_item_date">posted {{item.created_at|timesince}} ago by <a href="/profile/{{item.useraccount.profileid}}">{{item.useraccount.name}}</a></div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>		
				<!-- Tips -->
				<div>

		    	<h1>Recent posts</h1>
					
					<div id="id_recent_posts">
						{% include "../elements/itemlist.html" %}
					</div>

				</div>
			</td>
			<td class="second">

			<div class="border-full column_padded" id="id_rating_form_content">
				{% include "../elements/ratingform.html" %}
			</div>
			

			<div class="border-full column_padded">

				<h3>post via mobile/email</h3>
				<font style="font-size:0.8em">
				For SMS, send a message to 07797885024 starting with @aldg
				<br/><br/>
				For email, send a message to fault@accesscity.co.uk with the subject starting with @aldg
				</font>
			</div>
			
		<!-- Post -->
		<div class="border-full column_padded">
			<div id="id_item_form_content">

		    {% include "../elements/itemform.html" %}
			</div>
			</div>
			</td>
		</tr>
	</table>
	{% else %}
		<P>Location not found</P>
		{{locationurl}}
		
	{% endif %}
	
{% endblock %}